
::-webkit-scrollbar{
    width: 10px;
     
   }
::-webkit-scrollbar-track{
    background:rgb(121, 181, 207);
}
::-webkit-scrollbar-thumb{
    background: rgb(27, 3, 19);
}

::-webkit-scrollbar-thumb:hover{
    background:linear-gradient(rgb(105, 51, 51), rgb(117, 117, 33));
}

body{
    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    
}
header{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
    background-image: url("https://tse1.mm.bing.net/th?id=OIP._ziVieZwIFNcuJCJcWFT_gHaEK&pid=Api&P=0&h=220");
    background-repeat: no-repeat;
    background-size: cover;
   
}

.logo img{
height: 50px;
border-radius: 90%;
background-color: #de0a2a;

}

.navbar{
    display: flex;
    gap:45px;
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    margin-top: 45px;
    margin-right: 20px;
}
ul{
    list-style: none;
    text-align: center;
    
}
ul li{
    display: inline-block;
    position: relative;
}
   ul li a{
    display: block;
    padding: 20px 25px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    text-align: center;

   }
   ul li ul.menu li{
    display: block;
    background: #333;
    margin: 2px 0px;

   }
   ul li ul.menu{
    width: auto;
    background:transparent;
    position: absolute;
    Z-index:999;
display: none;
}
ul li a:hover{
    background: #222;
}
ul li:hover .menu.menu{
    display: block;
}
.social-media {
    position: absolute;
    top: 14%;
    right: 2%;
    display: flex;
     gap: 30px;    
 }

.social-media img{
  height:25px;
}

div.social-media a:hover {
    background-color: rgb(40, 6, 230);
}

#home{
    background-image:linear-gradient(rgba(0,0,0,0.3), transparent), url("https://wallpaperaccess.com/full/2945044.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.centered {
    margin-top: 350px;
}
.image-text{
    text-align: center;

}

.image-text h2{
    margin: 0;
    padding-top: 12%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
   
}


.headerright {
    position: absolute;
    top: 7px;
    right: 2%;
    display: flex;
    gap: 25px;
   
}
#register 
{
    background-color:#0045AC;
    border-radius: 20%;
    padding: 5px;
    color: white;
    font-weight: lighter;
    cursor: pointer;
}
#login{
    background-color: #0045AC;
    border-radius:20%;
    padding: 5px;
    color: rgb(239, 223, 223);
    font-weight: lighter;
    cursor: pointer; 
}
#login:hover{
    background-color: black;
  
}
#register:hover{
    background-color: black;

}
 .search-bar input{
   
    background: #7b7272;
    flex: 1;
    border: 0 ;
    outline: none;
    padding: 5px 5px;
    font-size: 16px;
    color: #090909;
    
}
::placeholder{
    color: black;

}
.search-bar button{
    border:0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #7b7272;
 }
.search-bar button:hover{
    background: whitesmoke;
}

.search-bar input:hover{
    background-color: rgb(196, 183, 183);
}
#get-started {
    background-color: #3b5998;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }

footer {
    background-color:rgb(233, 232, 232);
    color:black;
    text-align: center;
    padding: 10px;
    font-weight: lighter; 
  
}

@media screen and (max-width: 768px) {
    .navbar a {
      margin-right: 30px; 
  }
    .headerright {
        gap: 15px;
    }
   
   #home {
      width: 100%;
      flex-direction: column;
      margin: 0px;
      padding: 0px 40px;
    }
   
    .image-text {
      font-size: 20px;
      margin-bottom: 20px;
    }
    .centered {
      font-size: 16px;
      padding: 8px 16px;
    }
}